@import 'colors';

.header {
  width: 100%;
  height: 60px;
  background: #ffffff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;

  align-items: center;
  border-bottom: 2px solid $gray-1;
}

.header .me {
  cursor: pointer;
  height: 100%;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    background: lighten($primary-color, 50%);
  }
}

.popover-content {
  width: 300px;
}

.arrow {
  background: red;
}

.brand {
  display: flex;
  flex-direction: row;

  margin-left: 20px;
  padding: 4px 4px 2px 4px;

  cursor: pointer;

  &:hover {
    background: lighten($primary-color, 45%);
  }

  .logo {
    width: 40px;
    align-self: center;
  }

  .vl {
    margin: 0 6px;
    height: 24px;
    border-left: 1px solid $primary-color;
    align-self: center;
  }

  .text {
    margin-left: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 500;
    color: $primary-color;    

    .line-1 {
      font-size: 12px;
    }

    .line-2 {
      font-size: 24px;
    }
  }
}
