<div local-class="header">
  <LinkTo @route="authenticated.home" local-class="brand">
      <div local-class="logo">
        {{inline-svg "brand.svg"}}
      </div>
      <div local-class="vl"></div>
      <div local-class="text">
        <div local-class="line-1">
          THE GREEN LIGHT
        </div>
        <div local-class="line-2">
          PROJECT
        </div>
      </div>
  </LinkTo>
  <div>
    {{yield}}
  </div>
  <div local-class="me">
    {{@me.email}}
    <EmberPopover @event="click" @side="bottom-end">
      <div>
        ToDo: Switch Tenant (if applicable) and here is a long text
      </div>
    </EmberPopover>
  </div>
</div>