<div local-class="header">
  <div>
    A
  </div>
  <div>
    {{yield}}
  </div>
  <div local-class="me">
    {{@me.email}}
    <EmberPopover @event="click" @side="bottom-end">
      <div>
        ToDo: Switch Tenant (if applicable) and here is a long text
      </div>
    </EmberPopover>
  </div>
</div>