@import 'global';
@import 'yeti-table';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html,
body {
  //--primary-color: #FF634;
  --primary-color: #33b27d;

  --secondary-color-1-0: #FFB149;	// Main Secondary color (2) */
  --secondary-color-1-1: #FFD397;
  --secondary-color-1-2: #FFC06C;
  --secondary-color-1-3: #F3981F;
  --secondary-color-1-4: #BF720A;

  --gray-0: #F0F1F5;
  --gray-1: #E5E5E5;
  --gray-2: #B2B2B2;
  --gray-3: #838383;
  --gray-4: #565656;
  --gray-5: #2C2C2C;
  //--accent-color: #ffe1e1;
  --accent-color: #C5E783;
  //--accent-light-color: #d7d7d7;
  //--background-color: #fafafa;
  --background-color: #EEEFF2;
  //--card-color: #393939;
  --text-color: #333940; // #696D6E;
  --text-color-on-primary: #ffffff;
  --text-color-on-accent: #ffffff;


  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;

  overflow-y: hidden;

  background: var(--background-color);
  color: var(--text-color);
}