$border-color: var(--gray-2);

:global(.yt-default-table) {
  width: 100%;
  border-spacing: 0;
  border: 1px solid $border-color;
  border-collapse: collapse;
}

:global(.yt-default-thead) {
  text-align: left;

  th {
    padding: 20px 4px;
    border: 1px solid $border-color;
    background: var(--gray-0);
  }
}

:global(.yt-default-tbodyRow) {
  td {
    padding: 2px 4px;
    border: 1px solid $border-color;
  }
}
