.app-manage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tab {
    margin: 0 20px;

    .item-margin {
      margin: 0 20px;
    }
  }

  .outlet {
    flex-grow: 1;
  }
}
