<div local-class="app-manage">
  <Tab local-class="tab" as |tab|>
    <tab.item
      @text="Privileges"
      @route="protected.app.manage.privileges"
    />
    <tab.item
      @text="Privilege Pools"
      @route="protected.app.manage.privilege-pools"
    />
    <tab.item
      @text="Api"
      @route="protected.app.manage.api"
    />
  </Tab>
  <div local-class="outlet">
    {{outlet}}
  </div>
</div>