@import 'colors';

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .tenant {
    font-size: 18px;
    font-weight: 500;
  }

  .actions {
    margin-left: 16px;
  }
}

.root {
  height: 100%;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
}

.menu {
  background: $primary-color;
  color: #ffffff;
  width: 250px;
  height: 100%;
}