@import 'colors';

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .tenant {
    font-size: 18px;
    font-weight: 500;
  }

  .actions {
    margin-left: 16px;
  }
}

.root {
  height: 100%;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
}

.menu {
  background: $primary-color;
  color: #ffffff;
  width: 250px;
  height: 100%;

  display: flex;
  flex-direction: column;

  font-size: 20px;

  :global(.active) {
    background: lighten($primary-color, 50%);
    color: $gray-3;
  }

  a {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: $gray-3;
    background: lighten($primary-color, 45%);
  }
}

.switch-tenant-item {
  padding: 16px;
  cursor: pointer;

  &:hover {
    background: lighten($primary-color, 45%);
  }
}
