{{#in-element this.global.headerElement}}
  <div local-class="header-container">
    <div local-class="tenant">
      {{this.model.tenant.name}}
    </div>
    <Actions local-class="actions" @side="bottom">
      <Menu>
        <Menu::Item>
          switch tenant
        </Menu::Item>
        <Menu::Item {{on "click" this.createNewTenant}}>
          create new tenant
        </Menu::Item>
        <Menu::Item>
          delete tenant
        </Menu::Item>
      </Menu>
    </Actions>
  </div>
{{/in-element}}
<div local-class="root">
  <div local-class="menu">
    <LinkTo @route="authenticated.tenants.id.index">
      Tenant
    </LinkTo>
    <LinkTo @route="authenticated.tenants.id.apps">
      Apps
    </LinkTo>
  </div>
  <div>
    {{outlet}}
  </div>
</div>