@import 'colors';

.sub-header {
  box-sizing: border-box;;
  width: 100%;
  padding: 24px 40px;
  background: $primary-color;
  color: #ffffff;

  overflow-y: hidden;

  flex-shrink: 0;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
  }
}