.navbar-icon {
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;

  

  a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
}

.navbar-icon .icon {
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-icon .text {
  margin-left: 8px;
  padding-right: 22px;

  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  white-space: nowrap;
}

.navbar-icon .pointer {
  cursor: pointer;
}
