.root {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;

  .selected-app-area {
    margin-top: 40px;
    width: calc(100% - 28px);

    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      color: #ffffff;
      margin-bottom: 2px;
    }
  }
}
