<div local-class="section" ...attributes>
  <div local-class="header" {{on "click" this.headerClicked}}>
    {{#if this.showExpander}}
      {{#if this.isExpanded}}
        <FaIcon @icon="chevron-down" local-class="icon" />
      {{else}}
        <FaIcon @icon="chevron-right" local-class="icon" />
      {{/if}}
    {{/if}}
    <div local-class="text" class="no-select">
      {{@text}}
    </div>
  </div>
  {{#if this.isExpanded}}
    {{yield}}
  {{/if}}
</div>