.button {
  height: 40px;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-right: 20px;

  border-radius: 22px;

  &.primary {
    color: #ffffff;
    border: 2px solid var(--secondary-color-1-3);
    background: var(--secondary-color-1-3);

    &:hover {
      border: 2px solid var(--gray-4);
    }
  }

  &.secondary {
    background: #f0f1f5;
    border: 2px solid var(--gray-1);

    &:hover {
      border: 2px solid var(--gray-4);
    }
  }

  .button-text {
    font-size: 18px;
    padding: 0 32px;
  }
}
