.input {
  min-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.size-fill {
    width: 100%;
  }

  &.size-1x {
    max-width: 200px;
  }

  &.size-2x {
    width: 400px; 
  }
}