<div local-class="label">
  <div>
    {{@text}}
  </div>
  {{#if this.isMandatory}}
  <div local-class="with-asterisk">&#42;</div>
  {{else}}
    <div local-class="without-asterisk">
      
    </div>
  {{/if}}
</div>