@import 'colors';

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  overflow-y: auto;

  display: grid;
  grid-template-rows: 180px 60px 1fr;
  grid-template-columns: auto;

  .color {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background: $primary-color;
  }

  .apps {
    justify-self: center;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    gap: 24px;
    
    width: 600px;
    min-height: 400px;
    margin-bottom: 60px;
    
    background: #ffffff;

    padding: 24px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 100px);

    a.app {
      text-decoration: none;
      color: black;
    }

    .app {
      height: 100px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 12px;

      cursor: pointer;

      &:hover {
        background: lighten($primary-color, 45%);
      }

      .icon {
        margin-bottom: 6px;
        color: $gray-3;
      }
    }
  }
}