<div local-class="root">
  <Header @me={{@model.me}}>
    <div id="header-content">
      {{! CONTENT WILL GO HERE WITH IN-ELEMENT HELPER }}
    </div>
  </Header>
  <div local-class="content">
    <div local-class="color"></div>
    <div local-class="apps">
      <div local-class="app" {{on "click" this.goToTenants}}>
        <FaIcon @size="3x" local-class="icon" @icon="asterisk"/>
        <div>Tenant</div>
        <div>Management</div>
      </div>
      <div local-class="app" {{on "click" this.goToApps}}>
        <FaIcon @size="3x" local-class="icon" @icon="at"/>
        <div>App</div>
        <div>Management</div>
      </div>
    </div>
  </div>
</div>