<div ...attributes local-class="actions-root">
  <FaIcon @icon="ellipsis-h" class="color-gray-2" />
  <EmberPopover
    @tooltipClass="popover-clean"
    @event="click"
    @side={{this.side}}
  >
    {{yield}}
  </EmberPopover>
</div>