<label local-class={{concat "container " this.sizeClass}}>
  <input type="checkbox" />
  <div local-class={{concat "checkmark " this.sizeClass}}>
    <FaIcon @icon="check" local-class="icon" />
  </div>
</label>