<div local-class="tab-item" ...attributes>
  <LinkTo @route={{@route}}>
    <div local-class="text" class="no-select">
      {{@text}}
    </div>
    <div local-class="active-area">

    </div>
  </LinkTo>
</div>