.protected-app-manage-api {
  height: 100%;
  display: flex;
  flex-direction: column;

  .card-1 {
    margin: 16px 20px 0 20px;

    display: flex;
    flex-direction: column;

    .key-section {
      margin-bottom: 40px;;
    }

    .generate-button {
      align-self: flex-start;
    }
  }
}